<div>
  <h2 id="page-heading" data-cy="LocarHeading">
    <span jhiTranslate="bibliotecaApp.locar.home.title">Locars</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bibliotecaApp.locar.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-locar"
        [routerLink]="['/locar/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bibliotecaApp.locar.home.createLabel"> Create a new Locar </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="locars?.length === 0">
    <span jhiTranslate="bibliotecaApp.locar.home.notFound">No locars found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="locars && locars.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.idUsuario">Id Usuario</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.idLivro">Id Livro</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.locacao">Locacao</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.dataLocacao">Data Locacao</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.previsaoDevolucao">Previsao Devolucao</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.dataDevolucao">Data Devolucao</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.devolucao">Devolucao</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.status">Status</span></th>
          <th scope="col"><span jhiTranslate="bibliotecaApp.locar.proprietario">Proprietario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let locar of locars; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/locar', locar.id, 'view']">{{ locar.id }}</a>
          </td>
          <td>{{ locar.idUsuario }}</td>
          <td>{{ locar.idLivro }}</td>
          <td>{{ locar.locacao }}</td>
          <td>{{ locar.dataLocacao | formatMediumDate }}</td>
          <td>{{ locar.previsaoDevolucao | formatMediumDate }}</td>
          <td>{{ locar.dataDevolucao | formatMediumDate }}</td>
          <td>{{ locar.devolucao }}</td>
          <td>{{ locar.status }}</td>
          <td>{{ locar.proprietario }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/locar', locar.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/locar', locar.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(locar)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
